<!DOCTYPE html>
<html>
<head>
    <title>Good Payer Tenants Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            width: 80%;
            margin: auto;
            height: fit-content;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .signature {
      margin-top: 50px;
      text-align: left;
    }
    </style>
</head>
<body class="">
    <p style="text-align: end;">Date Generated: <%= generationDate %></p>
    <h2>Good Payer Tenants Report</h2>
    <table>
        <thead>
            <tr>
                <th>Tenant</th>
                <th>Unit</th>
                <th>Apartment</th>
                <th>Due Date</th>
                <th>Date Paid</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% response.forEach(function(item) { %>
                <tr>
                    <td><%= item.tenant_id.user_id.name %></td>
                    <td><%= item.tenant_id.unit_id.unit_no %></td>
                    <td><%= item.tenant_id.apartment_id.name %></td>
                    <td><%= item.due.toDateString() %></td>
                    <td><%= item.datePaid.toDateString() %></td>
                    <td><%= (item.amount).toLocaleString('en-PH',{
                        style: 'currency',
                        currency: 'PHP'
                    }) %></td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="5">Total</td>
                <td><%= response?.reduce((acc,curr) => acc + curr.payment.amountPaid, 0).toLocaleString('en-PH',{
                    style: 'currency',
                    currency: 'PHP'
                }) %></td>
            </tr>
        </tbody>
    </table>
    <p>Total Good Payer Tenants: <%= num %></p>
    <div class="signature">
        <p>__________________________</p>
        <p>Owner's Signature</p>
      </div>
</body>
</html>
