<!DOCTYPE html>
<html>
<head>
    <title>Good Payer Tenants Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            width: 90%;
            max-width: 1200px;
            margin: auto;
            height: auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            table-layout: fixed;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 0.5em;
            text-align: left;
            word-wrap: break-word;
        }
        th {
            background-color: #f2f2f2;
        }
        .signature {
            margin-top: 50px;
            text-align: left;
        }
    </style>
</head>
<body>
    <p style="text-align: end;">Date Generated: <%= generationDate %></p>
    <h3>Good Payer Tenants Report</h3>
    <table>
        <thead>
            <tr>
                <th>Tenant</th>
                <th>Unit</th>
                <th>Apartment</th>
                <th>Due Date</th>
                <th>Date Paid</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% response.forEach(function(item) { %>
                <tr>
                    <td><%= item.tenant_id.user_id.name %></td>
                    <td><%= item.tenant_id.unit_id.unit_no %></td>
                    <td><%= item.tenant_id.apartment_id.name %></td>
                    <td><%= new Date(item.due).toDateString() %></td>
                    <td><%= new Date(item.datePaid)?.toDateString() %></td>
                    <td><%= (item.amount).toLocaleString('en-PH',{
                        style: 'currency',
                        currency: 'PHP'
                    }) %></td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="5">Total</td>
                <td><%= response?.filter(item => item?.isPaid && item?.datePaid)?.reduce((acc,curr) => acc + curr.payment.amountPaid, 0).toLocaleString('en-PH',{
                    style: 'currency',
                    currency: 'PHP'
                }) %></td>
            </tr>
        </tbody>
    </table>
    <p>Total Good Payer Tenants: <%= num %></p>
    <div class="signature">
        <p>__________________________</p>
        <p>Owner's Signature</p>
    </div>
</body>
</html>
